<ion-header>
  <ion-toolbar>
    <ion-title>Rechner</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Rechner</h1>
  <h2>{{data.text}}</h2>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button shape="round" expand="full" (click)="pushDataText('1')">1</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="full" (click)="pushDataText('2')">2</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="full" (click)="pushDataText('3')">3</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="full" color="warning" (click)="pushDataText('+')">+</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button shape="round" expand="full" (click)="pushDataText('4')">4</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="full" (click)="pushDataText('5')">5</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="full" (click)="pushDataText('6')">6</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="full" color="warning" (click)="pushDataText('-')">-</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button shape="round" expand="full" (click)="pushDataText('7')">7</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="full" (click)="pushDataText('8')">8</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="full" (click)="pushDataText('9')">9</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="full" color="warning" (click)="pushDataText('*')">x</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset-4>
      <ion-button shape="round" expand="full" (click)="pushDataText('0')">0</ion-button>
    </ion-col>
    <ion-row>
      <ion-col>
        <ion-button shape="round" expand="full" (click)="pushDataText('.')">.</ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round" expand="full" color="warning" (click)="getResult()">=</ion-button>
      </ion-col>
    </ion-row>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button shape="round" expand="full" color="danger"(click)="clearText()">reset</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>